p {
    color: brown;
    font-size: 40px;
    border: 5px solid brown;
}

.dishes{
    color: black;
    font-size: 50px;
    border: 10px solid yellow;
    background-color: violet;
    margin: auto

}